@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima\ Nova/ProximaNova-Normal.otf');
}

*{
  font-family: "Proxima Nova", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  font-weight:normal;
}

h6 {
  text-align: center;
  font-weight: normal;
}

header nav * {
  display: inline;
}

footer p {
  text-align: left;
}

/****
NAVIGATION STYLING
***/

nav {
  text-align: center;
}

nav a, nav a:visited {
  color: #638ca6;
  text-decoration: none;
}

nav a.selected, nav a:hover {
  color: #004d4d;
}

nav {
  text-align: center;
  padding: 10px 0 0 0;
  margin: 15px 0 0;
}

nav li{
  display: inline-block;
}

nav a{
  font-weight: 400;
  padding: 15px 10px;
  text-decoration: none;
}

nav ul li a{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}
